.verifyEmail {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.verifyEmail_form {
    width: 400px;
    height: 300px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.verifyEmail_logo {
    font-size: 34px;
    font-weight: 800;
    background: linear-gradient(to right bottom, var(--secondary-color) 0%, var(--primary-color) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.verifyEmail_title {
    font-size: 24px;
    font-weight: 800;
}

.verifyEmail_inputContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.verifyEmail_inputContainer_label {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.verifyEmail_inputContainer_input {
    width: 100%;
    height: 40px;

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 0 10px;

    border: 1px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
}

.verifyEmail_inputContainer_input::placeholder {
    font-size: 18px;
    font-weight: 400;
}

.verifyEmail_inputContainer_input:focus {
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
}

.verifyEmail_button {
    width: 100%;
    height: 40px;

    display: grid;
    place-items: center;

    font-size: 18px;
    font-weight: 500;

    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: 300ms ease-in-out;
}

.verifyEmail_button:hover {
    background-color: var(--secondary-color);
}